@media screen and (min-width: 64rem) {

    header {
        padding-left: 100px;
    }

    .on-screen-menu a {
        color: var(--text-color2);
        background-color: var(--accent-color);
        border-radius: 15px;
        margin-right: 1rem;
        padding: 1rem 1rem;
        font-size: 18px;
        font-weight: bold;
        transition: 0.2s;
        text-decoration: none;
    }

    .list .item .content {
        top: 45%;
        left: 100px;
    }
    
    .content .title,
    .content .name {
        font-size: 90px;
        width: 740px;
    }
    
    .arrows {
        top: 70%;
    }
    
    
    .manga-content {
        top: 55%;
        left: 100px;
        width: 860px;
    }
    
    .manga-content .des {
        font-size: 18px;
        width: 740px;
    }
    
    .manga-content .manga-title,
    .manga-content .manga-name {
        font-size: 90px;
        width: 740px;
    }
    

}