@media screen and (min-width: 38rem) {

    header {
        padding-left: 60px;
    }

    header img {
        margin-left: -2.5rem;
    }

    .hamburger {
        display: none;
    }

    .on-screen-menu {
        display: flex;
    }

    .on-screen-menu ul {
        display: flex;
    }

    .on-screen-menu li {
        list-style-type: none;
        padding: 1rem;
    }

    .on-screen-menu a {
        color: var(--text-color2);
        background-color: var(--accent-color);
        border-radius: 15px;
        margin-right: .25rem;
        padding: 1rem .25rem;
        font-size: 12px;
        font-weight: bold;
        transition: 0.2s;
        text-decoration: none;
    }

    .navigationul a.active {
        border-radius: 15px;
        color: var(--text-color1);
        background: var(--primary-color);
        border-radius: 15px;
    }

    .navigationul a:hover {
        color: var(--text-color1);
        background: var(--primary-color);
        border-radius: 15px;
    }

    footer {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 140px;
    }

    .info {
        margin-left: 1rem;
    }

    #weatherCard {
        margin-right: 1rem;
    }


    .landing-background {
        background-image: url(../images/landingpageheroimagemed.webp);
    }

    .call-to-action {
        position: relative;
        top: 45%;
        left: 50%;
        transform: translate(-35%);
    }

    .action {
        font-size: 40px;
    }

    .call-btn {
        margin-top: 1rem;
        transform: translate(-15%);

    }

    .call-btn a {
        font-size: 20px;
    }

    .carousel {
        margin-bottom: -140px;
    }


    .carousel .list .item {
        width: 180px;
        height: 250px;
        top: 80%;
        transform: translateY(-70%);
        left: 70%;
    }

    .carousel .list .item:nth-child(3) {
        left: 67%;
    }

    .carousel .list .item:nth-child(4) {
        left: calc(67% + 200px);
        opacity: 1;
    }

    .carousel .list .item:nth-child(5) {
        left: calc(67% + 400px);
        opacity: 1;
    }

    .carousel .list .item:nth-child(6) {
        left: calc(67% + 600px);
        opacity: 1;
    }

    .carousel .list .item:nth-child(n+7) {
        left: calc(67% + 800px);
        opacity: 0;
    }

    .list .item .content {
        position: absolute;
        top: 25%;
        left: 5%;
    }

    .content .title,
    .content .name {
        font-size: 70px;
        width: 580px;
    }

    .content .btn button {
        padding: 10px 15px;
        font-size: 16px;
    }

    .arrows {
        top: 70%;
        left: 50%;
    }

    .manga-content {
        top: 50%;
        left: 60px;
        width: 600px;
    }

    .manga-content .manga-title,
    .manga-content .manga-title h1,
    .manga-content .manga-name {
        width: 580px;
        font-size: 70px;
    }

    .manga-content .des {
        width: 580px;
        font-size: 16px;
    }

    #volumecards div {
        grid-template-areas:
            "picture manga"
            "picture writer"
            "picture illustrator"
            "picture volume"
            "picture title";
    }

    #volumecards div img {
        align-self: center;
        cursor: pointer;
    }

    .modal-content {
        width: 600px;
        margin: -160px;

        position: sticky;
        top: 0;
        left: 0;
    }

    .thankyou {
        top: 20%;
        left: 25%;
        font-size: 2rem;
        width: 500px;
    }

}