.card {
    border: 1px solid black;
    background-color: paleturquoise;
    border-radius: 10px;
    text-align: center;
}

.card p {
    font-size: larger;
}

.card figcaption {
    text-transform: capitalize;
    font-size: larger;
}